.dashboard{
    min-height: 100vh; 
    background-color: #F3F4F6; 
}

.header{
    background-color: #ffffff; 
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

.header-content{
    display: flex; 
padding-top: 1rem;
padding-bottom: 1rem; 
padding-left: 1rem;
padding-right: 1rem; 
justify-content: space-between; 
align-items: center; 
max-width: 80rem; 

/* @media (min-width: 640px) { 
  padding-left: 1.5rem;
padding-right: 1.5rem; 
 }

@media (min-width: 1024px) { 
  padding-left: 2rem;
padding-right: 2rem; 
 } */

}

.header-div{
    display: flex; 
align-items: center; 
}

.title {
    font-size: 1.5rem;
line-height: 2rem; 
font-weight: 700; 
}

.navbar{
    display: flex; 
margin-left: 1rem; 
}

.main{
    padding-left: 1rem;
padding-right: 1rem; 
padding-top: 2rem;
padding-bottom: 2rem; 
max-width: 80rem; 
}

.main-class{
    display: grid ;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 2rem; 
}

.cards{
    margin-top: 1.5rem; 
}


@media (min-width: 640px) { 
    .main{
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
    }
    .header-content{
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
    }
}

@media (min-width: 1024px){
    .main{
        padding-left: 2rem;
        padding-right: 2rem; 
    }
    .header-content{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .cards{
        grid-column: span 2 / span 2; 
    }
}





